@import 'imports/reset';
@import 'imports/fonts';
@import 'imports/colors';
@import 'imports/shadows';

body {
    background: $grey;
}

.header {
    background: $white;
    padding: 2vw;
    margin-bottom: 4vw;
    @include shadow(2);

    h1 {
        font-family: $header;
        color: $black;
    }
}

.easel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    & > div {
        padding: 0 3vw;
    }

    .palette, .brushpot {
        .selector-circle {
            width: 22px;
            height: 22px;

            border: 2px solid transparent;
            border-radius: 50%;

            position: relative;
            z-index: 2;

            cursor: pointer;

            &.selected {
                border: 2px solid $black;
                @include shadow(2);
            }

            .reticule {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                z-index: 2;

                @include shadow(1);
            }
        }
    }

    .palette {
        .color {
            .reticule {
                width: 13px;
                height: 13px;
            }
        }
    }

    canvas {
        background: $white;
        cursor: crosshair;
        user-select: none;

        @include shadow(2);
    }

    .brushpot {
        .brush {
            .reticule {
                background: $black;
            }
        }
    }
}

.audience {
    margin: 10vw auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .user {
        border-radius: 50%;
        flex-basis: 50px;
        flex-shrink: 1;
        flex-grow: 0;
        margin: 1%;
        position: relative;
        @include shadow(2);

        &:hover {
            .name {
                transform: translateX(-50%) scale(1);
            }
        }

        img {
            width: 100%;
            border-radius: 50%;
            display: block;
        }

        .name {
            position: absolute;
            top: 105%;
            left: 50%;
            display: block;
            background: rgba($black, 0.95);
            color: $white;
            padding: .3em;
            border-radius: 3px;
            font-family: $header;
            min-width: 150%;
            text-align: center;
            user-select: none;

            transition: all .2s cubic-bezier(.13,.73,.56,1.18);
            transform-origin: center top;
            transform: translateX(-50%) scale(0);

            &:before {
                content: '';
                display: block;
                width: 0; height: 0;
                position: absolute;
                bottom: 100%; left: 50%;
                transform: translateX(-50%);
                border-bottom: 3px solid rgba($black, 0.95);
                border-left: 3px solid transparent;
                border-right: 3px solid transparent;
            }
        }
    }
}
